body {
  margin: 0;
  padding: 0 16px 16px 16px;
  box-sizing: border-box;
  color: #333;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --primary-color: #ffad47;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  width: 100%;
  resize: vertical;
  box-sizing: border-box;
  min-height: 250px;
  font: inherit;
  font-size: 90%;
  padding: 8px;
  color: inherit;
}

input:focus,
textarea:focus {
  outline-color: var(--primary-color);
}

@media (max-width: 599px) {
  #converterBox > * + * {
    margin-top: 16px;
  }

  textarea {
    resize: vertical;
  }
}

@media (min-width: 600px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #converterBox {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  #converterBox > * + * {
    margin-left: 8px;
  }

  .recipeBox #recipeFrom,
  .recipeBox #recipeTo {
    flex: 1;
  }

  textarea {
    resize: none;
  }

  .settingsBox {
    padding-top: 25px;
    width: 150px;
  }
}

.recipeBox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recipeBox > * + * {
  margin-top: 8px;
}

input,
label {
  display: block;
}

label {
  font-size: 90%;
}

.settingsBox > * + * {
  margin-top: 8px;
}

.modeBox {
  padding: 8px;
  transition: background-color 0.6s ease;
  border-radius: 8px;
}

.modeBox--selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.modeBox > * + * {
  margin-top: 8px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font: inherit;
  color: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

#or {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.settingsContent {
  padding-left: 8px;
  padding-right: 8px;
}

#convertButton {
  display: block;
  width: 100%;
}

.hidden {
  display: none !important;
}

.btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 8px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: inherit;
  font-family: inherit;
  letter-spacing: 0.0892857em;
  height: 43px;
  transition: all 0.2s ease;
}

.btn:active {
  background-color: #f5f5f5;
}

.btn:focus {
  outline: 1px auto var(--primary-color);
}

.btn:disabled {
  opacity: 0.4;
}
